service bootsplash /system_ext/bin/bootsplash
    class early_hal
    user system
    group graphics
    file /dev/kmsg w
    disabled
    oneshot

on late-init
    stop fbkeyboard
    start bootsplash

on early-boot
    stop bootsplash
    wait_for_prop init.svc.bootsplash stopped
